body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
* {
  margin: 0 auto;
  padding: 0;
}
.contrainer {
  width: 960px;
}
h1,h3{
  margin: 1rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}